
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box ;
}
body{
   background-color:#FFFFFF;
   font-weight: 400;
   font-size: 16px;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
button:hover{
    color: #FFFFFF;
    background-color: #F95555;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap:345px;
    padding: 34px 120px;

}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    
}
nav ul li{
    list-style: none;
    color: #000000;
    font-size: 16px;
    text-align: center;
}
nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
.btn{
  background-color: #30B868;
  border: none;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight:semi bold;
  cursor: pointer;
}
#banner{
    background-image: url('./assets/hero-bg.png');
    
    background-size: cover;
    background-position: center;
    aspect-ratio: 1600/674;
    background-repeat: no-repeat;
}
.banner-content{
    max-width: 770px;
    width: 48%;
    margin: 0 auto;
    padding-top: 116px;
    padding-bottom: 180px;
    
}
.banner-content .access-info h4{
    background-color: white;
    color:#30B868;
    width: fit-content;
    border-radius: 15px;
    padding:  4px 8px;;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    display: flex;
    gap: 4px;
    margin: 0 auto;
    margin-bottom: 16px;
    
}
.banner-content .main-info h1{
    color: #FFFFFF;
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}
h1 span{
    display: block;
}
.banner-content .main-info span{
    color:#30B868;
    
}
.banner-content .main-info p{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: regular;
    text-align: center;
    margin-bottom: 32px;
}
.banner-content .buttons{
    display: flex;
    gap: 16px;
    justify-content: center;
}
.banner-content .buttons .btn{
    display: flex;
    gap: 5px;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: semi bold;

}
.buttons .btn2 {
    background: none;
    border: 1px solid #FFFFFF;
}
.buttons .btn2:hover {
    color: #FFFFFF;
    background-color: #F95555;
}
 #notes{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 120px;
    
}

#notes .note-heading h1{
    padding-top: 40px;
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    margin-bottom: 16px;
    color: #001931;
    
}
#notes .note-heading p{
    text-align: center;
    line-height: 20px;
    color:#627382;
    font-weight: 400;
    margin-bottom: 44px;
}
.note-box{
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.note-box .img-wrapper{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.note-box .note-card h3{
    font-size: 24px;
    font-weight: semi bold;
    color: #001931;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 600;

}
.note-box .note-card p{
    font-size: 16px;
    color: #627382;
    text-align: center;
    margin-bottom: 16px;

}
.note-box .note-card{
    padding-top: 70px;
    border-radius: 6px;
    box-shadow: 0px 0px 4px 0px;
}
#solutions{
    max-width: 1360px;
    width: 85%;
    
    margin: 0 auto;
    display: flex;
    gap:60px;
    margin-bottom: 120px;

}
.solution-desc h4{
    padding-top: 102px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color:#30B868;
    margin-bottom: 16px;


}
.solution-desc h2{
    
    font-size: 48px;
    font-weight: bold;
    color:#001931;
    margin-bottom: 16px;


}
.solution-desc p{
    
    line-height: 20px;
    color:#627382;
    margin-bottom: 30px;
    text-align: left;
    padding-right: 130px;
    

}
.solution-desc ul li{
    
    list-style: none; 
    display: flex;
    text-align: center;
    gap: 5px;   

}
#think{
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    background-color: #F7F6F2;
    margin-bottom: 120px;
    padding-bottom: 80px;

}
#think h2{
    padding-top: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;

}
#think p{
    
    text-align: center;
    color:#627382;
    margin-bottom: 16px;
    
}
#think button{
    display: flex;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 16px;
    margin: 0 auto;
    align-items: center;
    gap: 5px;
    
    
    
}
footer{
    background-color: #001931;
    
}
footer .logo-content{
    display: flex;
    justify-content: space-between;
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    padding-top: 120px;
}
footer .footer-footer{
    
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    padding-top: 120px;
}
footer hr{
    border: 1px solid #627382;
    margin-bottom: 30px;
}
footer .footer-footer .copyright{
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
}
.footer-content h3{
    color: #FFFFFF;
    margin-bottom: 16px;

}